<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food control</title>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="assets/cssaccueil/accueil.css" />
  </head>
  <body>
    <header>
      <nav>
        <span class="link">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/kitchen">Kitchen</a></li>
            <li><a href="/restaurant">Restaurant</a></li>
            <li><a href="/food">Foods</a></li>
            <li><a href="/vegetables">Vegetables</a></li>
            <li><a href="/profil">Profil</a></li>
          </ul>
        </span>
        <span class="nom">Objet Oriented Modeling      <%= nom %>    </span>
      </nav>
      <div class="imagSvg">
        <!-- <img src="Menu 01.jpg" alt="image" id="imgageP"> -->
        <span id="name">Food RECOMMANDATION</span>
        <div id="skill"><i> let's control what you eat for a better health </i></div>
      </div>
    </header>
    <center>
      <section id="section1">
        <span id="title">
          <i id="number">1/+ </i
          ><strong>Get connect to discover the program</strong>
        </span>
        <div class="info">
          <p>
            I'm looking forward to build a web programming Community. <br />
            So that each progrommer could share his feedback to a specific
            topic.
          </p>
        </div>
        <div class="button">
          <button id="btn"> Se Connecter </button>
        </div>
        <span id="title">
          <i id="number">2/+ </i><strong>Faites un suivie et Garantissez votre bonne santé</strong>
        </span>
        <div class="info">
          <p>
            Learning by pracice is the key. <br />
            So Let's get Started...
          </p>  
            <div class="button">
            <button id="btn" class="b2"> Suivis </button>
          </div>
        </div>

      </section>
    </center>
    <footer>
      <span id="media">
        <ul>
          <li><a href="http://facebook/valere Tamwo"><i class="fab fa-facebook" aria-hidden="true" id="media"></i></a></li>
          <li><a href="http://twitter/@Franck Tamwo"><i class="fab fa-twitter" aria-hidden="true" id="media"></i></li></a> 
          <li><a href="http://github/valere Tamxo"><i class="fab fa-github" aria-hidden="true" id="media"></i></a></li>
          <li><span>Copyright 2022 Valere Tamwo</span></li>
        </ul>
      </span>
      
    </footer>
    <script src="js/bootstrap.min.js"></script>
    <script src="fontawesome-free-5.15.4-web/js/all.js"></script>
  </body>
</html>