<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Form Connect</title>
    <link rel="stylesheet" href="assets/cssaccueil/form.css" />
  </head>
  <body>
    <div class="container">
      <form
        action="/userConnect"
        method="POST"
        class="formulaire"
        name="formulaire"
      >
        <label for="nom"> Nom </label><br />
        <input type="text" name="nom" id="nom" /><br />
        <label for="prenom">prenom</label><br />
        <input type="text" name="prenom" id="prenom" /><br />
        <br />
        <input type="submit" value="Envoyer" /> <br />
        <%if(locals.error) {%>
        <div class="negative"><%= locals.error %></div>

        <%}%> <%if(locals.success) {%>
        <div class="positive"><%= locals.success%></div>
        <%}%>
      </form>

      <div class="user">
        <div class="titre">Personnes Enregistrées</div>
        <% for(user of users){ %>
        <div class="rows"><%= user.prenom%></div>
        <%}%>
      </div>
    </div>
  </body>
</html>
